<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(items, index) in names">{{index+1}} {{items}}</li>
    </ul>

    <!-- 遍历对象 -->
    <ul>
      <li v-for="item in info">{{item}}</li>
    </ul>

    <ul>
      <li v-for="(items, key) in info">{{key}}:{{items}}</li>
    </ul>

    <ul>
      <li v-for="(items, key, index) in info">{{index}} {{key}}:{{items}}</li>
    </ul>
  </div>
  <script src="../vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        names: ['wht', 'we', 'wer', 'weio'],
        info: {
          name: 'why',
          age: 'sds',
          sdf: 'erewr'
        }
      }
    })
  </script>
</body>

</html>